<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular JS controller examples</title>
    <link rel="stylesheet" href="./content/css/styles.css" type="text/css" />
    <script src="./app/lib/angular.min.js"></script>
    <script src="./app/app.js"></script>
  </head>
  <body>
    <div ng-controller="NinjaController">
      <ng-include src="'./header.html'"></ng-include>
      <header ng-include="'./header.html'"></header>
      <input type="text" ng-model="search" />
      <p>{{message}}</p>
      <ul>
        <!-- <li ng-repeat="ninja in ninjas">{{ninja}}</li> -->
        <!-- <li ng-repeat="ninja in ninjas | orderBy:'name'">{{ninja.name}}</li> -->
        <li ng-repeat="ninja in ninjas | orderBy:'-name' | filter: search">
          {{ninja.name}} - {{ninja.rate | currency: '$'}}
        </li>
      </ul>
    </div>
    <!-- <p>{{message}}</p> // not working it is out side of the scope of NinjaController -->
  </body>
</html>
