<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular JS learning with netninja</title>
    <link rel="stylesheet" href="./content/css/styles.css" type="text/css" />
    <script src="./app/lib/angular.min.js"></script>
    <script src="./app/lib/angular-route.min.js"></script>
    <script src="./app/lib/angular-route.js"></script>
    <script src="./app/app.js" type="application/json"></script>
  </head>
  <body
    ng-init="numbers=[1,2,3,4]; meats=['pork', 'ham', 'beef']; color='orange'; ninjas=['yoshi', 'crystal', 'ryu', 'dude']"
  >
    <header ng-include="'/header.html'"></header>
    <main ng-view></main>
    <p>Hello</p>
    <input type="text" ng-model="favMeat" placeholder="Enter you fav meat" />
    <p>Your fav meat is: {{favMeat}}</p>
    <p>{{5 * 5}}</p>
    <p>{{numbers[0] + numbers[3] }}</p>
    <p>You like {{meats[0]}}</p>
    <p class="{{color}}">This is the {{color}} color text</p>
    <!-- ng-repeat directives -->
    <!-- <ul>
      <li>{{ninjas[0]}}</li>
      <li>{{ninjas[1]}}</li>
      <li>{{ninjas[2]}}</li>
      <li>{{ninjas[3]}}</li>
    </ul> -->

    <ul>
      <li ng-repeat="ninja in ninjas">{{ninja}}</li>
    </ul>
  </body>
</html>
